/* == Body == */

body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: palevioletred;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  color: palevioletred;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  color: #4e4e4e;
}

.box-shadow, .paralax-mf, .service-box, .work-box, .card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a, .button:hover {
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.title-s {
  font-size: 13px;
  color: rgb(167, 177, 110);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* == Header == */

.mainPage {
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  background: rgba(25, 28, 31, 0.8);
}

.mainPage.header-transparent {
  background: transparent;
}

.mainPage.header-scrolled {
  height: 60px;
  background: rgba(25, 28, 31, 0.8);
}


/* == Navbar == */


.portfolioName {
  font-size: 18px;
  color: palevioletred;
  display: inline;
  position: relative;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.portfolioName:hover {
  color: palevioletred
}
.portfolioName:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background: palevioletred;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.portfolioName:hover:after,
.portfolioName:focus:after,
.portfolioName:active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbarMenu a {
  display: block;
  position: relative;
  color:whitesmoke;
  padding: 30px 15px;
  transition: 0.2s;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbarMenu a:hover, .navbarMenu .active > a, .navbarMenu li:hover > a {
  color: palevioletred;
  text-decoration: none;
}

.dropdownMenu {
  font-size: 10px !important;
  color: black !important;
  padding: 10px !important;
}
.dropdownMenu:hover{
  color: palevioletred !important;
  text-decoration: none;
}


.navbar {
  transition: all .5s ease-in-out;
  background-color: rgba(17, 16, 14, 0.226);
}




/* == Hero Section == */

.intro {
  height: 100vh;
  position: relative;
  background-size: cover;
}

.intro .intro-content {
  text-align: center;
  position:relative;
}


.intro-subtitle {
  font-size: 35px;
  font-weight: 300;
  font-family: "Satisfy", serif;
  color:blanchedalmond;
}

@media (min-width: 768px) {
  .intro .intro-subtitle {
    font-size: 70px;
  }
}

.intro .text-slider-items {
  display: none;
}

.intro-single {
  text-transform: uppercase;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .intro-single {
    font-size: 3.5rem;
  }
}



/* == About Section == */

.about-me h5 {
  font-size: 16px;
  color: rgb(167, 177, 110);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}
.lead {
  padding-top: 10px;
  font-size: 18px;
  color: rgb(29, 29, 29);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.info {
  font-size: 14px;
  color: rgb(75, 110, 87);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-top: 3rem;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}

.about-mf .about-img {
  margin-bottom: 2rem;
}

.about-mf .about-img img {
  margin-left: 10px;
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.progress {
  margin-bottom: 5px;
}
.progress-bar {
  background: rgb(201,114,143);
  background: linear-gradient(90deg, rgba(201, 114, 143, 0.158) 0%, rgba(201,114,143,0.6727824919030112) 50%);
}


